/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    integrativebioinformatics/pulposeq Nextflow config file for running large profiles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Profile for large fastq and bam files
*/

process {
    resourceLimits = [ cpus: 64, memory: 1500.GB, time: 48.h ]

    withLabel:process_reports {
        cpus   =  1
        memory = 10.GB
        time   = 1.h
    }
    withLabel:process_low {
        cpus   =  3
        memory = 10.GB
        time   = 1.h
    }
    withLabel:process_restrander {
        cpus   =  2
        memory = 50.GB
        time   = 8.h
    }
    withLabel:process_chopper {
        cpus   =  2
        memory = 400.GB
        time   = 12.h
    }
    withLabel:process_minimap2 {
        cpus   = 32
        memory = 120.GB
        time   = 12.h
    }
    withLabel:process_nanocomp {
        cpus   =  3
        memory = 100.GB
        time   = 12.h
    }
    withName: 'PULPOSEQ:ALIGNMENT:NANOCOMP_MINIMAP2' {
        cpus   =  7
        memory = 300.GB
        time   = 12.h
    }
    withLabel:process_bambu {
        cpus = 4
        memory = 1500.GB
        time = 48.h
    }
    withLabel:process_novel_transcripts {
        cpus   =  4
        memory = 32.GB
        time   = 4.h
    }
    withLabel:process_post_refinement {
        cpus   =  8
        memory = 150.GB
        time   = 4.h
    }
    withLabel:process_genomic_context {
        cpus   =  2
        memory = 100.GB
        time   = 4.h
    }
    withLabel:process_bam_coverage {
        cpus   = 4
        memory = 80.GB
        time   = 6.h
    }

}

